@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing:none;
}

:root{
    --color-main:#6D6875;
    --color-rose:#B5838D;
    --color-pink:#E5989B;
    --color-skin:#FFCDB2;
    --color-dusky-light:#E0E2DB;
    --font-blog:'Merriweather', serif;
}

.Nav {
    background-color: var(--color-rose);
    font-family: var(--font-blog);
    font-weight: 900;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: space-around;
    min-height: 10vh;
    text-decoration: none;
    width: 100%; 
}

.Nav a{
    font-family: var(--font-blog);
    font-weight: 900;
    margin-top: 2vh;
    text-decoration: none;
    color: black;
}
.Nav a:hover{
    color: brown;
        transition: width 2s, height 2s;
}

.links ul{
    font-family: var(--font-blog);
    font-weight: 900;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.links li,.links a{
    font-family: var(--font-blog);
        font-weight: 900;
    padding-right: 5px;
    text-decoration: none;
    color: black;
}
.links li:hover{
    color: brown;
    transition: width 2s, height 4s;
}

.SearchForm{
    margin-top: 1.5vh;

    }

.SearchForm input{
    padding: 2px;
    border-radius: 2px white;
}

.SearchForm button{
    font-family: var(--font-blog);
    font-weight: 900;
    background-color: var(--color-main);
    color:white;
    padding: 2px;
    border-radius: 2px white;
}

.AdminForm{
    font-family: var(--font-blog);
    font-weight: 900;
    justify-content: space-between;
    padding: 50px;

}
.loading,.adminheading {
    font-family: var(--font-blog);
    font-weight: 900;
    align-items: center;
    text-align: center;
    padding: 50px;
}

.AdminForm input{
    padding: 10px;
}

.AdminForm button{
 margin: 0px;
 background-color: var(--color-rose);
 color: white;
 border-radius: 2px;
 width: 100px;
}

.recentblogs {
    padding: 10px;
    
}
.BlogDisplay,.component{
    width: 80%;
    display: flex;
    justify-content: space-evenly;  
    float: left;
    left:0;

}

.cards{
    padding-left: 10px;
}
.experiencelist{
    align-content: center;
    padding: 50px;
    justify-content: center;
        display: flex;
        align-items: center;
}
.experiencelist img{
    width: 100%;
    height: 20%;
}
.experience{
    padding: 50px;
    width: 50%;
    height: 50%;
   
}

/* Footer */
/* .footbar{
    bottom: 0px;
    width: 100%;
    height: 100px;
    position: relative;
    
    display: flex;    
    background-color: antiquewhite;

}
.footbar ,.copywrite p{
    text-align: center;
} */
.portfolio{
    display: block;
    justify-content: space-around;
    padding: 50px;
    padding-top: 10px;
}

.profilemade{
    width: 100%;
    height: 20%;
    
}
.detail{
    justify-content: center;
    align-items: center;
}
/* PROFILE IMAGE */
/* .profile {
    align-items: center;
    width: 15rem;
    height: 19rem;
    position: relative;
    left: calc(50% - 7rem);
    margin-top: 7rem;
    border-radius: 12rem 12rem 0 0;
} */
h5{
    text-align: center;
    padding: 0px;
} 
.projects{
    margin: 0 auto;
    align-items: center;
    text-align: center;
    padding: 10px;
    display: block;
    width: 100%;

}
.project{
    padding: 10px;
    align-items: center;
    text-align: center;
}
.About{
    text-align: center;
    padding: 20px;
    align-items: center;

}
.About ,.aboutcard{
    align-items: center;
    text-align: center;
    position: relative;
    width: 100%;
}

/* show */
.heading{
    font-family: var(--font-blog);
    font-weight: 800;
    text-align: center;
    padding: 20px;
}

.bodyread{
    font-family: var(--font-blog);
    padding: 50px;
    font-weight: 500;

}

/*mobile view*/
@media only screen and (max-width:600px){
.Nav {
        padding: 0;
        margin: 0;
        display: block;
        min-height: 5vh;
        background-color: beige;
        text-decoration: none;
        width: 100%;
    }
    .icon-name{
        padding: 10px;
        text-align: center;
}
.SearchForm{
    text-align: center;
    padding-left: 5px;
}
.links a,.Nav a{
    padding: 10px;
    text-align: center;
}
.links ul ,.links li{
    text-decoration: none;
    display: flex;
    list-style: none;
    color: black;
}
.links li:hover {
    color: brown;
    transition: width 2s, height 4s;
}
.TagsBar,
.Tags {
    display: none;   
}
.BlogDisplay,
.component {
    padding: 20px;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cards {
    padding-bottom: 20px;
    align-items: center;
}
}

/*SOCIALS*/
.socials a{
    text-align: center;
    color:black;
    font-size: 1.5rem;
    padding: 2px;
}

@media only screen and (max-width:1024px) {
/* .TagsBar,
.Tags {
    position: relative;
    top: 20vh;
    right: 0;
    width: 10%;
    height: 100%;
    justify-content: space-around;
    padding: 50px;
}

.Tags h3 {
    text-align: center;
    padding: 10px;

} */
.BlogDisplay,
.component {
    position: relative;
    display: flex;
}

.cards {
    align-items: center;
}
}