
.Nav {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    min-height: 10vh;
    background-color: beige;
    text-decoration: none;
    width: 100%; 

}
.Nav a{
    text-decoration: none;
    color: black;

}
.Nav a:hover{
    color: brown;
        transition: width 2s, height 2s;
}

.links ul{
    text-decoration: none;
    width: 50%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.links li,.links a{
    padding-left: 10px;
    text-decoration: none;
    color: black;
}
.links li:hover{
    color: brown;
    transition: width 2s, height 4s;
}
.SearchForm{
    margin-top: 2vh;
    }
.AdminForm{
    justify-content: space-between;
    padding-left: 100px;

}
.AdminForm input{
    padding: 10px;
    
}
.AdminForm button{
 margin: 0px;
 background-color: lightblue;
 color: black;
 border-radius: 1 rem;
 width: 100px;
}

.recentblogs {
    padding: 10px;
    
}
.BlogDisplay,.component{
    max-width: 90%;
    display: flex;
    justify-content: space-around;  
    padding: 10px 10px 10px 10px;
    float: left;
    left:0;
}
.TagsBar ,.Tags{
            position: fixed;
            top:20vh;
            right: 0;
            width: 15%;
            height: 100%;
            justify-content: space-around;
            padding: 10px;
}
.Tags h3{
    text-align: center; 

}
.footbar{
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;    
    background-color: antiquewhite;

}
.footbar ,.copywrite p{
    text-align: center;

}
/*mobile view*/

@media only screen and (max-width:848px){
.Nav {
        padding: 0;
        margin: 0;
        display: block;
        min-height: 5vh;
        background-color: beige;
        text-decoration: none;
        width: 100%;

    }
    .icon-name{
        text-align: center;
}
.SearchForm{
    text-align: center;
}
.links a,.Nav a{
    text-align: center;
}
.links ul ,.links li{
    text-decoration: none;
    display: flex;
    list-style: none;
    color: black;
}

.links li:hover {
    color: brown;
    transition: width 2s, height 4s;
}


.TagsBar,
.Tags {
    background: rgb(5, 68, 104);
    display: none;
    
    
}



.BlogDisplay,
.component {
    max-width: 100%;
    display: flex;
        flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
}
}