.Nav {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    min-height: 10vh;
    background-color: beige;


}

.links ul{
    text-decoration: none;
    width: 50%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.SearchForm{
    margin-top: 2vh;
    }

